.dashboard-page{
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
}
.group-section{
    width: 20%;
    padding-left: 1rem;
    min-width: 160px;
}
.your-share-section{
    width: 80%;
    padding: 0 1rem;
}
.yourShareArray{
    padding-left: 1rem;
    color: #666;
}
.group-balance-section{
    width: 20%;
    padding-right: 1rem;
}
@media only screen and (max-width: 600px) {
    .dashboard-page{
        display: block;
        padding: 0px;
    }
    .group-section,.your-share-section{
        width: 100% !important;
        padding: 0.5rem;
    }
}
.material-icons.deleteGroupIcon {
    position: absolute;
    bottom: 2px;
    right: 0px;
 }
 .material-icons.groupIcon {
    position: relative;
    bottom: -5px;
    color: #666;
    padding-right: 5px;
 }
 .material-icons.card-icon {
    position: relative;
    bottom: -7px;
    padding-right: 5px;
 }
 .groupTitle{
    background: #F2F5F8;
    border-bottom: 1px solid lightgrey ;
    color: #666;
    margin: 5px ;
}
.addGroupBtn{
    color:  #0062cc;
}
.addGroupBtn:hover{
    color: #0069d9;
}
 li{
     list-style: none;
     cursor: pointer;
     position: relative;
 }
 li a.groupName {
    font-size: 0.8rem;
    font-weight: 500;
    color: #666;
    cursor: pointer;
    text-transform: uppercase;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    padding-top: 7px;
 }

 li:hover {
    background: #eee;
    color:black;
 }
