<div class="dashboard-page">
<div class="group-section">
    <div class="groupTitle"> 
        <span>GROUPS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        <span class="addGroupBtn" (click)="goTonewGroup()"><b>+ Add</b></span>
    </div>
    <div *ngIf="isGroupList">
        <span *ngFor="let element of this.groupList; let lastItem = last;">
            <li (click)="editGroup(element.groupId)"><i class="material-icons groupIcon"> bookmark</i>
                <a class="groupName">{{element.groupName}} </a>&nbsp;
            <i class="material-icons deleteGroupIcon" (click)="removeGroup(element.groupId,$event)">cancel </i>
            </li>
        </span>
    </div>
    <div *ngIf="!isGroupList" class="noGroupList">
        <p>No Groups Found</p>
        <p>Add one !</p>
    </div>
</div>
<div class="your-share-section" *ngIf="yourShareArray.length>0" >
    <div class="groupTitle"> 
        <span>YOUR SHARE IN GROUPS </span>
    </div>
    <div *ngFor="let element of yourShareArray" class="yourShareArray">
        <span class="material-icons card-icon">
            credit_card
        </span>
        <span [innerHTML]="element"></span>
        <hr>
    </div>

</div>
</div>