<div class="group-edit-page">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">EDIT GROUP {{group?.groupName}}</h5>
            <form class="card-text" [formGroup]="createGroupForm">
                <div class="form-group">
                  <label for="groupName">My group shall be called…</label>
                  <input type="text" class="form-control" formControlName="groupName" #groupName aria-describedby="groupNameHelp">
                  <small id="groupNameHelp" class="form-text text-muted">Group Name cabe like -Goa Trip, Farwell Party</small>
                </div>
                <h5 class="card-title">GROUP MEMBERS</h5>
                    <span *ngFor="let element of this.selectedGroupMember; let lastItem = last;">
                      <li>{{element.fullName}} &nbsp;
                        <i class="material-icons close-class" (click)="removeUserFromGroup(element.userId)">cancel </i></li>
                    </span>

                    <br>
                    <select class="form-control" (change)="addUserToGroup(userId.value)" #userId>
                      <option *ngFor="let element of this.userList;" [value]="element.userId" >&nbsp;{{element.fullName}} </option>
                    </select>  
                    <small id="addMemberHelp" class="form-text text-muted">+ Add a Person to Group</small> 
                <br>
                <button type="button" class="btn btn-primary" (click)="editGroup()">Save</button>
                &nbsp; &nbsp; <button [routerLink]="['/dashboard']" type="button" 
                class="btn btn-secondary">Go to dashboard</button>
            </form>
        </div>
      
</div>
