.group-desc-page{
    padding-top: 1%;
    display:flex;
}
.group-section{
    width: 20%;
    padding-left: 1rem;
}

.expense-section{
    width: 60%;
    padding: 0 1rem;
}
.group-balance-section{
    width: 20%;
    padding-right: 1rem;
}
@media only screen and (max-width: 600px) {
    .group-desc-page{
        display:block;
    }
    .group-section{
        display: none;
    }
    .expense-section{
        width: 100%;
        padding: 1rem;
    }
    .group-balance-section{
        width: 100%;
        padding: 1rem;
    }
    .flex-spacebetween{
        display: block;
        padding: .5rem;
    }
}

 .groupTitle{
    background: #F2F5F8;
    border-bottom: 1px solid lightgrey ;
    color: #666;
    margin: 5px ;
}
.addGroupBtn{
    color:  #0062cc;
    cursor: pointer;
}
.addGroupBtn:hover{
    color: #0069d9;
}
li{
     list-style: none;
 }
li a.groupName {
    font-size: 1.25rem;
    color: #666;
    cursor: pointer;
    text-transform: uppercase;
 }

li:hover {
    background: #eee;
    color:black;
 }

.card-title{
    text-transform: uppercase;
    font-size: 16px;
    color: #999;
    font-weight: bold;
    line-height: 20px;
}
.flex-spacebetween{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    border-bottom: 1px solid lightgrey;
}
@media only screen and (max-width: 600px) {
    .flex-spacebetween{
        display: block;
        padding: .5rem;
    }
}
.card{
    min-width: 150px;
    margin: auto;
    background: #F2F5F8;
  }
  @media only screen and (max-width: 600px) {
    .card{
        width: 98%;
    }
  }
  .card-body{
    padding: 0px;
}
 .material-icons.close-class {
    position: relative;
    bottom: -5px;
    float: right;
 }
 .material-icons.groupIcon {
    position: relative;
    bottom: -5px;
    color: #666;
    padding-right: 5px;
 }
 span.clickable{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 2px 5px ;
    margin: 0px 2px;
    border: 1px dashed #ccc;
    vertical-align: middle;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
 }
 .flex-hover{
    color: #666;
    cursor: pointer;
    padding: 10px 3px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
 }
 .flex-hover:hover{
    background: #eee;
    color:black;

 }
 .selectedPayer{
     background: #ddd;
 }
 .bg-grey{
    background: #eee;
 }
 .splitBtn{
     margin-bottom: 5px;;
 }
 .pull-right{
     float: right;
 }

 @media only screen and (max-width: 600px) {
    .splitOptionRow{
        float: none;
        position: static;
    }
  }
 .owedShare{
     width: 90px;;
 }

 .expenseUnxpanded{
    background: white;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
 }
 .expenseUnxpanded:hover{
        background: #eee;
        color:black;
    }
 .expenseExpanded{
    max-height: 400px;
    overflow-y: scroll;
 }
 .expListFlex{
     display: flex;
     justify-content: space-between;
     color: #666;
 }
 @media only screen and (max-width: 600px) {
    .expListFlex{
        display: block;
    }
  }
 
 .expListName{
    font-size: 1.25rem;
    position: relative;
    bottom: 8px;
    left: 10px;
 }
 .expExpandFlex{
    display: flex;
 }
 .expExpandFlex div{
     padding-top: 1rem;
 }
 .expExpandFlex .expExpandIcon{
    font-size:8rem;
 }
 .expExpandDetailsFlex{
    display: flex;
    justify-content: space-between;
 }
 @media only screen and (max-width: 600px) {
    .expExpandDetailsFlex{
        display: block;
    }
    .expExpandExpMembers{
        width: 100%;
    }
    .expExpandHistory{
       width: 100%;
    }
  }
 .expDesc{
     margin: 0px;
 }
 .expExpandDate{
    color: #999999;
 }
 .expExpandExpMembers,.expExpandHistory{
     padding: 1rem;
 }
 .expExpandExpMembers{
     width: 40%;
 }
 .expExpandHistory{
    width: 60%;
 }
 .expenseHistory{
     padding: 1rem ;
     margin: 1rem 0;
     border: 1px solid grey;
     border-radius: 5px;
 }
 .deleteExpense{
     float: right;
 }
 .deleteExpense .material-icons.close-class {
    font-size: 1.5rem;
    position: relative;
    bottom: 0px;
 }
 nav.paginationNav{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
 }
 ul.pagination,.totalExpense{
     margin:1rem;
 }
 ul li.disable{
     pointer-events: none;
     opacity: 0.6;
 }




